/* color palette from <https://github.com/vuejs/theme> */

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #724949;
  --dark-primary: #e08b8b43;
  --secondary: #975f5f;
  --primary-night: #724949;
  --dark-primary-night: #e08b8b43;
  --secondary-night: #975f5f;
  --white: #ffffff;
  --black: #000;
  --light-black: #031926;
  --light-white: #e5e7e6;
}

/* semantic color variables for this project */
:root {
  --color-primary: var(--primary);
  --color-dark-primary: var(--dark-primary);
  --color-secondary: var(--secondary);
  --color-light-text: var(--light-white);
  --color-dark-text: var(--black);
  --color-contrast-text: var(--black)
  --color-background: var(--white);
}

:root {
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  transition: all 0.5s;
  border-radius: 2.5rem;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}

p,
li,
em,
span,
.profile-link {
  font-size: var(--h4);
}

label {
}

button {
  padding: 0 1rem;
  margin: 0 10px;
}

main,
.main {
  margin-top: 9rem;
}

/* This is just for white text */
.clickable:hover {
<<<<<<< HEAD
  color: rgba(255, 255, 255, 0.467);
=======
  /* color: rgba(255, 255, 255, 0.712); */
  transform: scale(103%);
>>>>>>> Wanderbranch
}
.clickable-blk:hover {
  color: rgba(0, 0, 0, 0.467);
}

.clickable,
.clickable-blk {
  transition: all 0.2s;
  cursor: pointer;
}

.error {
  color: red;
}

/* Phones */
@media (max-width: 400px) {
  html,
  body,
  * {
    font-size: 50%;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--light-black);
    --color-contrast-text: var(--light-white);
  }
}
